.button {
  display: inline-block;
  padding: 6px 0;
  min-width: 70px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  &--green {
    color: white;
    background-color: #5cb85c;
    border-color: #4cae4c;
    &:hover {
      background-color: green;
    }
  }
  &--red {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
    &:hover {
      background-color: red;
    }
  }
  &--blue {
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
    &:hover {
      background-color: darkblue;
    }
  }
  &--grey {
    color: black;
    background-color: lightgrey;
    border-color: grey;
    &:hover {
      background-color: grey;
      color: white;
    }
  }
  &--black {
    color: white;
    background-color: black;
    border-color: black;
    &:hover {
      border-color: grey;
    }
  }
  &--purple {
    color: white;
    background-color: darkviolet;
    border-color: darkviolet;
    &:hover {
      background-color: purple;
    }
  }
}
