.beer-form {
  display: flex;
  flex-direction: column;
  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__fields {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-top: 25px;
    @media (min-width: 768px) {
      width: 50%;
      order: 0;
      margin-top: 0;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 40px;

    @media (min-width: 768px) {
      justify-content: flex-start;
      margin-top: 30px;
    }

    .button {
      width: 49%;
      &:first-child {
        margin-right: 1%;
      }
      &:last-child {
        margin-left: 1%;
      }
    }
  }
  .image-selector {
    &__uploader {
      margin-top: 20px;
    }
    &__button {
      width: 100%;
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}
