.beer-form {
  display: flex;
  flex-direction: column;

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__fields {
      display: flex;
      flex-direction: column;

      @media(min-width: 768px) {
        width: 50%;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @media(min-width: 768px) {
      justify-content: flex-start;
    }

    .btn {
      margin-right: 15px;
      width: 150px;
      height: 40px;
    }
  }
}
