.floating-button {
  display: flex;
  flex-direction: row;

  &__button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &__icon {
      font-size: 24px;
      margin-top: 18px;
    }

    label {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer;
    }
  }

  &__label {
    opacity: 0;
    order: -1;
    width: 150px;

    @media (min-width: 768px) {
      display: none;
      align-items: center;
      transition: visibility 0s, opacity 0.5s ease;
      justify-content: flex-end;

      &__text {
        color: black;
        background-color: lightgrey;
        padding: 10px;
        border-radius: 3px;
      }

      &__arrow {
        color: lightgrey;
      }
    }
  }

  &__button:hover + &__label {
    @media (min-width: 768px) {
      display: flex;
      opacity: 1;
    }
  }
}
