.search-box {
  display: flex;
  align-items: center;

  @media(min-width: 768px) {
    width: 20%;
  }

  &__input {
    height: 40px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    -webkit-text-fill-color: white;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    margin-left: -5%;
  }
}
