.filters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media(min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
  &__filter {
    margin-bottom: 20px;
    @media(min-width: 768px) {
      margin-bottom: 0;
    }
    &--search {
      @media(min-width: 768px) {
        width: 15%;
        margin-right: 5%;
      }
    }
    &--type,
    &--origin {
      width: 48%;
      margin: 0 1%;
      @media(min-width: 768px) {
        margin-right: 5%;
      }
    }
    &--pagination {
      align-self: center;      
      @media(min-width: 768px) {
        min-width: 20%;
        margin-left: auto;
      }
    }
  }
  &__dropdowns {
    display: flex;
    margin-bottom: 20px;
    @media(min-width: 768px) {
        width: 25%;
        margin-bottom: 0;
    }
  }
}
