.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 50px;
  padding: 10px;

  .logo-container {
    color: black;
    cursor: pointer;
    width: 70%;
  }

  .logo {
    float: left;
    margin-right: 10px;

    img {
      height: 30px;
    }
  }

  .title {
    float: left;
    font-size: 22px;
  }

  .logout {
    float: right;

    .button {
      font-size: 14px;
      height: 35px;
    }
  }
}



