@import "../../../assets/styles/colors.scss";

.pagination {
  text-align: center;

  &--hidden {
    display: none;
  }

  &__button {
    display: inline-block;
    height: 35px;
    margin: 0 2px;
    min-width: 35px;
    padding: 0;
    border: 2px solid $contrast;
    border-radius: 4px;
    line-height: 35px;
    color: $contrast;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    @media (min-width: 768px) {
      &:hover:not(&--active):not(&--disabled) {
        background-color: $beer-yellow;
      }
    }

    &:first-child,
    &:last-child {
      border-radius: 35px;
      font-size: 22px;
    }

    &--active {
      background-color: $highlighting;
      color: white;
    }

    &--disabled {
      border: none;

      &:hover {
        cursor: default;
      }

      .pagination__button__label {
        visibility: hidden;
      }
    }

    .pagination__button__label {
      position: relative;
      top: -2px;
    }
  }

  .small-screens {
    &--hidden {
      @media (max-width: 460px) {
        display: none;
      }
    }
  }
}
