.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__preview {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    &--empty {
      border: 1px solid white;
      border-radius: 25px;
    }
    &--hidden {
      display: none;
    }
    &__image {
      border-radius: 25px;
      max-width: 200px;
      max-height: 200px;
    }
    &--empty &__image {
      display: none;
    }
  }
  &__button__label {
    cursor: pointer;
  }
  &__input {
    display: none;
  }
}
