@import "../../../assets/styles/colors.scss";

.ratings {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    padding: 0 80px;
  }

  &__input {
    display: none;

    &:checked + .ratings__icon {
      color: $highlighting;
    }
  }

  &__icon {
    font-size: 3rem;

    @media (min-width: 768px) {
      cursor: pointer;
    }

    &:hover {
      color: $hovering;
    }
  }
}
