.ratings {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 35px;

  @media(min-width: 768px) {
    padding: 0 80px;
  }

  &__input {
    display: none;

    &:checked + .ratings__icon {
      color: yellow;
    }
  }

  &__icon {
    font-size: 30px;

    @media(min-width: 768px) {
      cursor: pointer;
      font-size: 40px;
    }

    &:hover {
      color: deepskyblue;
    }
  }
}
