.beer-image {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__frame {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;

    &--empty {
      border: 1px solid white;
      border-radius: 25px;
    }
  }

  &__buttons {
    margin-top: 20px;
  }

  img {
    border-radius: 25px;
    max-width: 200px;
    max-height: 200px;
  }
}


