.beer-image {
  &__frame {
    border: 1px solid white;
    border-radius: 25px;
    width: 300px;
    height: 300px;
  }

  &__buttons {
    margin-top: 20px;
  }

  img {
    max-width: 300px;
    max-height: 300px;
  }
}


