.dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;

  @media(min-width: 768px) {
    flex-direction: row;
  }

  &__option {
    text-align: center;
    width: 100%;

    @media(min-width: 768px) {
      width: 25%;
    }

    &__image {
      max-height: 160px;
    }

    &__title {
      color: white;
      font-size: 18px;
      padding-top: 10px;
    }
  }
}
