.header {
  background-color: black;
  color: white;
  height: 50px;
  padding: 10px;

  .logo-container {
    cursor: pointer;
  }

  .logo {
    float: left;
    margin-right: 10px;

    img {
      height: 30px;
    }
  }

  .title {
    float: left;
    font-size: 22px;
  }

  .logout {
    float: right;
  }
}



