.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 230px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
  }
  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  @media (min-width: 1920px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .beer {
    max-width: 200px;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    @media (min-width: 768px) {
      margin: 10px;
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: 240px;
      text-align: center;
      list-style-type: none;
      padding: 0;
      @media (min-width: 768px) {
        height: 200px;
        overflow: hidden;
      }
    }
    &__type {
      height: 25px;
      min-width: 60px;
      z-index: 99;
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 15px;
      text-align: center;
      line-height: 25px;
      vertical-align: middle;
      font-weight: bold;
    }
    &__image {
      position: absolute;
      left: 0;
      max-width: 100%;
      max-height: 200px;
      @media (min-width: 768px) {
        top: 0;
        -webkit-transition: top 0.3s ease-in-out;
        -moz-transition: top 0.3s ease-in-out;
        transition: top 0.3s ease-in-out;
        &:hover,
        &--placeholder {
          top: -55px;
        }
      }
    }
    &__name {
      font-size: 16px;
      margin-bottom: 10px;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      word-wrap: break-word;
    }
    &__description {
      display: none;
      @media (min-width: 768px) {
        display: block;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
