.multi-edit {
  &__top {
    display: flex;
    flex-direction: row;
    margin: 20px 30px;
  }

  &__search {
    width: 40%;
    margin: 0 5%;
    @media (min-width: 768px) {
      width: 60%;
    }
  }

  &__export-button {
    width: 40%;
    margin: 0 5%;
    @media (min-width: 768px) {
      width: 20%;
    }
  }
}
