body {
  background: url('../images/login-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:hover, a:focus {
  text-decoration: none;
}

section {
  margin: 2%;
}

.intro {
  font-size: large;
}
