@import "normalize";
@import "colors";

html {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(white, $beer-yellow);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  overflow-y: scroll;
  min-height: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

section {
  margin: 2%;
}

h1 {
  font-size: 22px;
  @media (min-width: 768px) {
    font-size: 28px;
  }
}
