@import "normalize";
body {
  background-color: black;
  @media(min-width: 768px) {
    background: url('../images/background.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  overflow-y: scroll;
  min-height: 100%;
}

*,
 :after,
 :before {
  box-sizing: border-box;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

section {
  margin: 2%;
}

.intro {
  font-size: large;
}

h1 {
  font-size: 22px;
  @media(min-width: 768px) {
    font-size: 28px;
  }
}
