.collection {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 2%;

  .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    @media(min-width: 768px) {
      justify-content: flex-start;
    }

    .beer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      cursor: pointer;
      margin: 0 10px 25px;
      text-align: center;
      width: 40%;

      @media(min-width: 768px) {
        width: 10%;
        margin: 0 10px;
      }

      &:hover {
        background-color: white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        color: black;
      }

      &__image {
        max-height: 200px;
        max-width: 200px;
      }

      &__name {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}
