.collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0 2%;

  @media(min-width: 768px) {
    flex-direction: row;
  }

  .beer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    width: 40%;

    @media(min-width: 768px) {
      width: 10%;
    }

    &:hover {
      background-color: white;
      border-radius: 25px;
      color: black;
    }

    &__image {
      max-height: 200px;
      max-width: 200px;
    }

    &__name {
      font-size: 16px;
      margin-top: 10px;
    }
  }
}
